@{
    ViewBag.Title = "Home Page";
}

<div style="background:transparent !important" class="jumbotron">
    <h1>PC Part Picker</h1>
    <p class="lead">Thank you for visiting my mockup of a website that could be used to help select PC parts and watch for compatibility issues.</p>
</div>